@charset "UTF-8";

body {
  padding-top: 0px;
  background: white;
  font-family: 'Titillium Web', verdana;
  font-size: 16px;
}

textarea, input, select, table, button, label, h1, h2, h3, h4 {
  font-family: 'Titillium Web', verdana;
}

table {
  margin-top: 20px;
  margin-left: 50px;
  }

table .btn {
  font-size: 11px;
}

label{
  font-weight: bold;
  font-size: 18px;
}

h4{
  font-size: 20px;
  font-weight: bold;
  text-shadow: 4px 4px 4px #ddd;
}
.content {
  padding: 0 20px; }

.status .content {
  display: none;
  padding: 10px 20px;
  overflow: auto;
}

.sub-header {
  background: grey;
  min-height: 20px;
  padding: 6px 5px;
  margin-top:0px;
}

.upper{
  height:40px;
  background-color:grey;
  padding:10px;
}
.left{
  float: left;
  width: 10%
}
.right {
  float: left;
  text-align: right;
  width: 90%;
}
.middle-box{
  padding:0 15px;
  border: 1px solid #ccc;
  width: 80%;
  clear: both;
  border-radius: 10px;
  margin-top:75px;
  margin-bottom: 50px;
}

.criticism{
  border: 0px solid grey;
  padding:2px;
  margin:10px;
}
.notice{
  width: 80%;
  margin: 10px 100px 10px 150px;
  background-color: red;
  padding: 5px;
}

#criticism_comment{
  max-height: 150px;
  width: 545px;
}

#critique_receiver_remember_me{
  float:left;
}
#error_explanation{
  background-color: red;
  padding:0 5px 0 10px;
}

#error_explanation h2{
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  padding-top: 5px;
}

#error_explanation ul{
  font-size: 12px;
  margin: 0;
  padding: 0 0 5px 20px;
}
select{
  width: 600px;
  font-size: 16px;
}
textarea{
  width:600px;
  height:350px;
  font-size: 16px;
  }
